.git
.env
.env.*
!.env.example
.dockerignore
Dockerfile
compose.yml
node_modules
vendor
tests
todos
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
database/*.sqlite*
public/build
